
    
img{
    max-width: 100%;
}

 .logo img{
width: 70px;
}

.my-header{
    background: #d5d6d1;
}
.menu{

}
.menu li{
    position: relative;
}
.menu li a {
    text-decoration: none;
    color: #5a5757;
    padding: 21px 28px;
    font-size: 20px;
    position: relative;
    display: inline-block;
}
.menu li a::before {
    bottom: 0px;
    content: "";
    height: 3px;
    width: 0;
    position: absolute;
    left: 14px;
    background-color: #7b67fd;
    transition: .3s;
}




.menu li a:hover::before{
width: 80%;
}

.menu .first a{
    color:#7b67fd;
}
.menu .first a::before {
    bottom: 0px;
    content: "";
    height: 3px;
    width: 80%;
    position: absolute;
    left: 14px;
    background-color: #7b67fd;
    transition: .3s;
}

.menu li ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 220px;
    background-color: #fff;
    list-style: none;
    padding: 0;
    z-index: 1;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.menu li ul li{
    display: block;
}
.menu li ul li a{
    display: block;
    padding: 20px;
background-color: #0000ff;
color: #fff;
}
.menu li ul li a::before{
    bottom: 0px;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    left: 0;
    background-color: #7b67fd;
    transition: .3s;
}
.menu li:hover ul{
    opacity: 1;
    visibility: visible;
}
.header-btn {
    background-color: #fff !important;
    color: #3763eb;
    font-weight: 500;
    font-size: 20px;
    padding: 13px 30px;
    overflow: hidden;
    border-radius: 40px;
    text-decoration: none;
    position: relative;
    z-index: 1;
}
.header-btn::after{
    content: "";
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #7b67fd;
    border-radius: 40px;
    z-index: -1;
    transition: .3s;


}

.header-btn:hover{
    color: #fff;
    
}
.header-btn:hover.header-btn::after{
   
    width: 100%;
}

.bannar{
   
    background-color: #ecf7ff;
    position: relative;
    height: 70vh;
    overflow: hidden;
}

.img-div img {
   
    height: 800px;
    height: 800px;
}
.img-div {
    position: absolute;
    top: -120px;
    right: -220px;
}
.bannar-btn{
    border-radius: 30px;
    padding: 10px 25px;
    transition: .4s;
}
.bannar-btn:hover{
   background-color: #fff;
   color: #7b67fd;
}

.bannar-text h3{
font-size: 42px;
}

h5 {
    font-size: 1rem;
    color: #6f42c1;
}
.feature-text h2{
    font-size: 2.5rem;
    position: relative;
}
.feature-text h2::before {
    bottom: -14px;
    content: "";
    height: 3px;
    width: 60px;
    position: absolute;
    left: 0px;
    background-color: #7b67fd;
    
}

.feature-item{
    border-radius: 10px;
    background-color: #f9fcff;
    transition:all .5s ease-in-out;
    
   
}
.feature-item span {
    display: inline-block;
    height: 65px;
    width: 65px;
    background-color: #7b67fd;
    border-radius: 50% 50% 50% 0;
    text-align: center;
    line-height: 65px;
    color: #fff;
    margin-bottom: 30px;
    position: relative;
    margin-top: 10px;
    font-size: 23px;
}
.feature-item span::after {
    bottom: -14px;
    content: "";
    height: 3px;
    width: 40px;
    position: absolute;
    left: 0px;
    background-color: #7b67fd;
    transition: .4s;
}

.feature-item:hover.feature-item span::after{
   width: 60px;
   background-color: #fff;
}

.feature-item:hover{
    background-color: #0000ff;
    color: #fff !important;
    transform: scale(1);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.30) !important;
    
}
.paturen-img {
    position: relative;
    top: -195px;
    left: -55px;
    z-index: -1;
}


footer {
    background-image: url(./img/video-bg.jpg);
    background-size: cover;
    background-position: top center;
    padding: 130px 0px;
    padding-bottom:550px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
footer::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 58, 87, 0.77);
    z-index: -1;
}







.footer-content{
    color: #fff;
    text-align: center;
}
.footer-content h3{
    
}
.footer-content h1{
    position: relative;
}
.footer-content h1::after {
    bottom: -15px;
    content: "";
    height: 3px;
    width: 80px;
    position: absolute;
    left: 147px;
    background-color: #fff;
    transition: .4s;
    right: 0;
}

.play-buttonn span{
    font-size: 35px;
    color: #3763eb;;
    display: inline-block;
    text-align: center;
    width: 100px;
   height: 100px;
   line-height: 100px;
   background-color: #fff;
   position: relative;
   border-radius: 50%;

}

.play-buttonn span::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  
   
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: playAnim 2s ease-in-out infinite;
}


@keyframes playAnim {
    0%{
        border: 1px solid #ddd;
        opacity: .7;
        scale: 1;
    }
    /* 25%{
        border: .5px solid #fff;
        scale: 1.2;
    } */
    50%{
        border: 1px solid #ddd;
        opacity: 1;
        scale: 1.3;
    }
    /* 75%{
        border: .5px solid #fff;
        scale: 1.6;
    } */
    100%{
        border: 1px solid #ddd;
        opacity: .9;
        scale: 1.6;
    }
    
}


.play-buttonn span::after{
    content: "";
    height:100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    position: absolute;
    animation: ppp 2s ease-in-out infinite;
}

@keyframes ppp{
    0%{
        border: 1px solid #ddd;
        opacity: .9;
        scale: 1.1;
    }
    50%{
        border: 1px solid #ddd;
        opacity: .7;
        scale: 1.4;
    }
    100%{
        border: 1px solid #ddd;
        opacity: .5;
        scale: 1.8;
    }
}